.img-profile {
    margin-bottom: 10px;
    border: 1px solid #34495e;
}
.green {
    background-color: #16a085;
}

.orange {
    background-color:#f39c12;
    
}
.blue {
    background-color:#2980b9;
    
}

